In [1]:
print("hello")

hello

In [3]:
print("hello \
world")

hello world

In [4]:
print("""this program is written by meghna""")

this program is written by meghna

In [5]:
print('hello world')

hello world

In [6]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-6-a74e26cb2287>, line 1)

In [7]:
print("Python's world")

Python's world

In [8]:
print("Hello\tPython")

Hello	Python

In [9]:
print("Hello\nPython")

Hello
Python

In [10]:
print('Python\'s World')

Python's World

In [11]:
print("hello\a")

hello

In [13]:
name="Meghna"
marks=90.45
Age= 19
print("The name of person is",name,"marks is", marks, "age is", Age)

The name of person is Meghna marks is 90.45 age is 19

In [16]:
print("The name of person is %4s marks is %10.1f age is %10d"%(name,marks,Age))

The name of person is Meghna marks is       90.5 age is         19

In [19]:
print(f"The name of person is {name} the marks is {marks} age is {Age}")

The name of person is Meghna the marks is 90.45 age is 19

In [23]:
5**5

3125

In [24]:
10+20

30

In [25]:
10-20

-10

In [26]:
10/2

5.0

In [27]:
10/3

3.3333333333333335

In [28]:
10%2

0

In [29]:
10//3

3

In [30]:
a=10
b=20
a==b

False

In [31]:
c=10
a==c

True

In [32]:
c<a

False

In [33]:
c<=a

True

In [34]:
a>b

False

In [35]:
a != b

True

In [36]:
a>=b

False

In [1]:
x=y=10

In [2]:
x

10

In [3]:
y

10

In [4]:
x=20
id(x)

140720184796144

In [5]:
id(y)

140720184795824

In [6]:
y=20
id(y)

140720184796144

In [7]:
x

20

In [8]:
del x

In [9]:
x

NameError: name 'x' is not defined

In [18]:
y

20

In [10]:
del y

In [11]:
x=y=20
x

20

In [12]:
y

20

In [13]:
a=10
b=20
a != b

True

In [14]:
a!=b

True

In [15]:
10*40

400

In [16]:
a=10
a*40

400

In [17]:
5**5

3125