In [1]:
tup1 = ()
print(tup1, type(tup1))

() <class 'tuple'>

In [4]:
tup2 = (1,)
print(tup2, type(tup2))

(1,) <class 'tuple'>

In [5]:
tup3=(1,2,"a","hello")
print(tup3)

(1, 2, 'a', 'hello')

In [6]:
tup4= 1,2,3,4,"d"
print(tup4)

(1, 2, 3, 4, 'd')

In [7]:
tup4[0]

1

In [8]:
A=("iron-man","thor","hulk","captain")
A[1]

'thor'

In [9]:
A[-1]

'captain'

In [10]:
type(A[-1])

str

In [11]:
A[0:2]

('iron-man', 'thor')

In [12]:
A

('iron-man', 'thor', 'hulk', 'captain')

In [13]:
A[::-1]

('captain', 'hulk', 'thor', 'iron-man')

In [14]:
A

('iron-man', 'thor', 'hulk', 'captain')

In [15]:
A[2:4]

('hulk', 'captain')

In [16]:
A[4]

IndexError: tuple index out of range

In [17]:
len(A)

4

In [18]:
tup1=(10,20)
print(tup1)

(10, 20)

In [20]:
a,b=tup1
print(a)
print(b)

10
20

In [21]:
a,b,c=(10,20)

ValueError: not enough values to unpack (expected 3, got 2)

In [22]:
a,b=(10,20,30)

ValueError: too many values to unpack (expected 2)

In [24]:
len((10,20,30))

3

In [25]:
a,b,*c=(10,30,40,50)

In [26]:
print(a,b,c)

10 30 [40, 50]

In [27]:
A

('iron-man', 'thor', 'hulk', 'captain')

In [28]:
A1=A[::-1]
print(A1)

('captain', 'hulk', 'thor', 'iron-man')

In [29]:
id(A1)

2481648234648

In [30]:
A2=A1[:]
print(A2)
id(A2)

('captain', 'hulk', 'thor', 'iron-man')

2481648234648

In [31]:
dir(AZ)

NameError: name 'AZ' is not defined

In [32]:
dir((1,2))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [33]:
t1=(1,2,3,4,4,5,1,1,13,1,)
print(t1)

(1, 2, 3, 4, 4, 5, 1, 1, 13, 1)

In [34]:
t1.count(4)

2

In [36]:
t1.index(13)

8

In [37]:
t1.index(4)

3

In [38]:
 t1

(1, 2, 3, 4, 4, 5, 1, 1, 13, 1)

In [40]:
t2=(10,20)

In [42]:
t1+t2

(1, 2, 3, 4, 4, 5, 1, 1, 13, 1, 10, 20)

In [46]:
t3=t2*2
t3

(10, 20, 10, 20)

In [48]:
print(t3[2])
id(t3[2])

10

140731028841136

In [49]:
t3

(10, 20, 10, 20)

In [50]:
max(t1)

13

In [51]:
t1

(1, 2, 3, 4, 4, 5, 1, 1, 13, 1)

In [53]:
t4=(1,2,3,"a")
max(t4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [54]:
"a">1

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
'35'>45

TypeError: '>' not supported between instances of 'str' and 'int'

In [56]:
35>45

False

In [ ]:
list1